body {
    overflow-x: hidden;
}

/*workspace*/
h1{
    font-family:Arial!important;
    font-size:24px!important;
    font-weight:bold!important;
}
h2{
    font-family:Arial!important;
    font-size:20px!important;
    font-weight:bold!important;
}
h3{
    font-family:Arial!important;
    font-size:18px!important;
}
form{
    font-family:Arial;
    background-color:rgba(239, 239, 239, 0.78);
}
#suiteBar{
    width: 980px;
    margin: 0px auto;
	padding-right: 16px;
    display: none;
}
#globalNavBox, #suiteBarRight{
    background-color:transparent!important;
}
#suiteBarLeft{
    background-color:#f8b334!important;
}
#s4-ribbonrow{
    width: 980px;
    margin: 0px auto;
    display:none;
}
#s4-workspace {
    background-color: #f3f3f3;

}

/*title area*/
#s4-titlerow{
    height:80px;
    padding:0px;
    background-color:#f8b334;
}
#titleAreaBox{
    width:100%;
    margin:0px;
}
#siteIcon{
    margin-left:20px;
    margin-top:20px;
    width: 200px;
    height: 35px;
}
.ms-siteicon-a{
    max-width:200px;
}
#DeltaSiteLogo{
    height:inherit;
}
#DeltaSiteLogo a img {
    max-width:200px;
    max-height:35px;
    width: 200px;
    height: 35px;
}
   
#titleArea-right{
    float:right;
    padding-right:20px!important;
    padding-top:10px!important;
}
#DeltaPlaceHolderSearchArea #SearchBox div:first-child{
    background-color:#fff;
}

#DeltaPlaceHolderSearchArea{
    width: 251px;
    height: 24PX;
}
#language-switch{
    margin-bottom:20px;
}
#language-switch span{
    float:right;
    color:#fff;
    font-size:12px;
    font-weight:bold;
}

/*top navigation*/
#s4-topNavigation{
    background-color:#dddcde;
    width:100%;
    height:30px;
    border-top:2px solid #fff;
}

#DeltaTopNavigation{
      font-size: 12px;
      font-weight:bold;
      font-family:Arial;
      vertical-align: middle;
}
div.ms-breadcrumb-top {
    height:30px;
}

#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root {
    padding: 0px;
}

#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li > a {
      overflow: hidden;
      height: 29px;
      width: 178px;
      text-align: center;
      border-right: 1px solid white;
      color: #525158;
      margin-right: 0px;
}
#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root{
    padding-left: 25px!important;
}

#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li {
    float: left;
    height:30px;
}

#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li:first-child > a{
    border-left: 1px solid white;
}
#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li a.ms-core-listMenu-item:hover {
      color: #fff;
      background-color:#f8b334;
      border-color: white;
}
#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root li.static.dynamic-children.hover > a.ms-core-listMenu-item {
      color: #fff;
      background-color:#f8b334;
}   
#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root li a.ms-core-listMenu-item span {
    display: block;
    padding-top:3px;
} 

.ms-core-listMenu-horizontalBox .dynamic-children.additional-background{
    background-image:none;
    padding-right: 0px;
} 

/*flyout menus*/
#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root li.static.dynamic-children ul.dynamic {
    background-color: #dddcde;
    width: 178px!important;
    line-height: 30px;
    vertical-align: middle;
    font-weight: bold;
    padding: 0px;
    margin-top: 3px;
}

#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root li.static.dynamic-children.hover ul.dynamic{
    top:30px!important;
}

#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li > ul li.static.dynamic-children.hover-off ul.dynamic{
    top:30px!important;
}

#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root li.static.dynamic-children ul.dynamic li.dynamic {
    margin-left: 0px !important;
    display: block;
    border-bottom:1px solid #fff;
}

#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root li.static.dynamic-children ul.dynamic li.dynamic a {
    text-align:center;
}
#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li > ul li ul {
    display:none;
}
#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li > ul li a span {
    background-image:none;
}

#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li.ms-listMenu-editLink.ms-navedit-editArea {
    display:none;
}
.ul.dynamic {
    -moz-box-shadow: 0px 0px 0px 0px!important;
    -webkit-box-shadow: 0px 0px 0px 0px!important;
    box-shadow: 0px 0px 0px 0px!important;
}

.real-breadcrumb{
    padding-left:26px;
    padding-top:10px;
    padding-bottom:5px;
    font-size:12px;
    font-weight:bold;
    color:#dddcde;
}
#bender-site-title {
    color:#525158;
    margin-left: 25px;
    margin-right: 25px;
    border-bottom: 2px solid #f8b334;
}
#bender-site-title h1 {
    color: #525158;
}
   
/*left navigation*/

#sideNavBox{
    display:none;
} 

/*content box*/
#contentBox{
    margin-left:25px;
}
#contentRow{
    font-size:16px;
    font-family:Arial;
    overflow-x:auto;
}

#s4-bodyContainer {
    height: auto;
    min-height: 1080px;
    padding-bottom: 0px;
    overflow-x:hidden;
    width:980px!important;
    margin: 0px auto;
    overflow: hidden;
    min-width:980px;
    background-color: #fff;
}
.ms-dialog #s4-bodyContainer {
    height: auto;
    min-height: 0;
}
/*#DeltaPlaceHolderMain .welcome p{
    font-size:16px!important;
    font-family:Arial!important;
}*/

#Ribbon.Document.All.NewDocument.Menu.ContentTypes {
    width:inherit;
}
#bender_webpartZone div.ms-SPZone.ms-webpart-zone.ms-fullWidth {
    width:249px!important;
    padding-left:0px!important;
    padding-right:0px;
}
#bender_webpartZone div.ms-SPZone.ms-webpart-zone.ms-fullWidth > div:first-child{
    width:249px!important;
    padding-left:0px!important;
}
#bender_webpartZone .ms-SPButton.ms-WPAddButton {
    width:230px!important;
	float:left!important;
}
#benderTableLeftCell{
	width: 640px; 
	padding: 0px; 
	display: block; 
	float: left; 
	max-width: 640px;
	overflow: hidden;
}
#benderTableRightCell{
	width: auto; 
	margin-left: 660px;
}

/* Schiffke */
a:visited {color: #f09609;}
.real-breadcrumb {display: none;}
#bender-site-title {margin-top: 15px;}

#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root {
    padding-left: 10px !important;
}		

#DeltaTopNavigation li.selected > a {color:#fff !important; background-color: #f8b334;}

.ms-rtestate-field h1, h1.ms-rteElement-H1, .ms-rtestate-field h2, h2.ms-rteElement-H2 {
    color: #444;
}
.ms-vb a:visited, .ms-vb2 a:visited, .ms-vb-user a:visited {
    color: #f09609;
}

#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root li.static.dynamic-children ul.dynamic {
	width: 187px !important;
	display: block;
}
#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li.static.dynamic-children:nth-child(4) > ul.dynamic ul,
#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li.static.dynamic-children:nth-child(4) > ul > li > ul > li,
#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li.static.dynamic-children:nth-child(4) > ul > li > ul > li a {
	width: 166px !important;
	margin-left: 0;
}
#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root > li.static.dynamic-children:nth-child(5) > ul > li > ul {
	/* display: none; */
	margin-left: -374px;
}

#DeltaTopNavigation div.ms-core-listMenu-horizontalBox > ul.ms-core-listMenu-root li.static.dynamic-children ul.dynamic ul.dynamic {
	margin-top: -26px;
	z-index: 9999;
}

#accordion ul li {
    list-style-type: disc;
    background-color: #fff!important;
}

.ui-accordion .ui-accordion-header {
    background-color: #fff!important;
    border: 1px solid #ccc!important;
    color: #333!important;
}

.ui-accordion .ui-accordion-content {
    background-color: #fff!important;
    border: 1px solid #ccc!important;
}


#DeltaPlaceHolderMain {
	line-height:1.6
}
