/* Quicklinks*/
#quicklinks{
	display:none; 
	border: 10px solid #EEEEEF;
	height: 580px;
	width: 640px;
	position: fixed;
	top: 50%;
	margin-top: -350px;
	z-index: 9999;
	background-color: #FFF;
	left: 50%;
	margin-left: -360px;
	padding: 20px 0px;
	-webkit-box-shadow: 0px 0px 64px 10px rgba(51,51,51,0.4);
	-moz-box-shadow: 0px 0px 64px 10px rgba(51,51,51,0.4);
	box-shadow: 0px 0px 64px 10px rgba(51,51,51,0.4);
}
#quicklinks ul{
	list-style-type:none; 
	margin-top:10px;
}
#quicklinks ul li{
	float:left; 
	padding:5px;
}
#quicklinks img{
	height:100px; 
	width:100px;
}

#quicklinks-button {
	cursor:pointer;
	position: fixed;
	top: 169px;
	margin-left: 935px;
	width:80px;
	height:80px;
}

.quicklinks-button{
	background-color: #525158;
	color:#eeeeef;
	font-weight:bold;
	float:right;
	margin-right:35px;
	text-align:center;
	width:120px;
	height:30px;
}

#quicklinks .schliessen-knopf{
height: 30px;
width: 30px;
position: absolute;
padding-left: 670px;
margin-top: -40px;
cursor:pointer;
}