.variations-menu .aspNetDisabled, .variations-menu .aspNetDisabled:hover {
    color: #eaeaea;
    text-decoration: none;
    cursor: default;
}

.variations-menu a, .variations-menu a:visited, .variations-menu a:hover {
    color: white;
}

.variations-menu {
    font-size: 14px;
}